.footer {
  width: 100%;
  background-color: #fff;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  min-height: 30px;
  padding: 15px 20px 25px;
  min-width: 1280px;
  width: 1280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer__absolute {
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  bottom: 0;
  color: #fff;
}

.footer-black {
  color: #000;
  transition: all 0.5s;
}

.footer-black .footer-dev-abs {
  color: #000;
  &:hover,
  &:active {
    opacity: 0.7;
    color: #000;
  }
}

.footer-black .footer-dev-abs span {
  color: $color-blue-50;
}

.footer__development {

  &:hover {
    color: #ffc700;
  }

  span {
    color: $color-blue-50;
  }
}

.footer-dev-abs {
  color: #fff;
  text-decoration: none;
  &:hover,
  &:active {
    color: #fff;
    opacity: 0.7;
  }
  span {
    color: $color-gold;
  }
}

@media (min-width: 1280px) {

  .footer__inner {
    max-width: 1920px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1279px) {

  .footer__inner {
    min-width: 1280px;
    width: 1280px;
    max-width: 1280px;
  }
}



@media (max-width: 640px) {

  .footer__inner {
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 100%;
    max-width: 640px;
    padding-top: 20px;
  }

  .footer__copyright {
    margin-bottom: 10px;
  }
}

.blue-footer {
  background-color: $color-blue-50;
}

.blue-fc {
  color: #fff;
}

.blue-footer__development {
  color: #fff !important;
  &:hover {
    opacity: 0.7;
  }
}